* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}


.container {
    max-width: 75%;
    margin: 30px auto;
    padding: 20px;
}

.collapsible {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  margin: 7px 0;
  text-align: left;
  background: #777;
  border: none;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible-content {
display: none; /* default */
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  margin: 0;
  background: #f1f1f1;
  border-left: none;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #d35400; /* match accent color */
}